# Group by & Aggregating

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\USER\Desktop\Python Tutorial\PythonPandasTutorials\Spreadsheets and Files\Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

## Grouping by

In [12]:
df_groupby_flavor = df.groupby("Base Flavor")

### Some Aggregating functions

In [ ]:
# Some of the most common and used agg functions are: 
# sum(), max(), min(), count(), mean(), describe(), agg(), unique()

In [9]:
df_groupby_flavor["Flavor Rating"].describe() # Returns a stadistic summary

             count  mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate      3.0   8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla        6.0   5.7  2.710719  2.3  4.025  5.6  6.8  10.0

In [10]:
df_groupby_flavor.count() # Returns the count of the df's (or column) not-null values

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [11]:
# The agg() function is interesting because it allows us to implement multiple agg functions

df_groupby_flavor.agg({
    
    'Flavor Rating': 'max',
    'Texture Rating': ['mean', 'count']
    
})

            Flavor Rating Texture Rating
                      max           mean count
Base Flavor
Chocolate             8.8       7.233333     3
Vanilla              10.0       5.650000     6

# Grouping By Multiple Columns

In [22]:
df.groupby(['Base Flavor', 'Liked']).max()

                                Flavor  Flavor Rating  Texture Rating  \
Base Flavor Liked
Chocolate   Yes             Rocky Road            8.8             7.6
Vanilla     No                 Vanilla            4.7             5.0
            Yes    Mint Chocolate Chip           10.0             8.0

                   Total Rating
Base Flavor Liked
Chocolate   Yes            16.6
Vanilla     No              9.7
            Yes            18.0